@import "font", "resets", "colors";

html {
    scroll-behavior: smooth;
}

body {
    display: block;
}

nav {
    position: fixed;
    top: 0;
    background-color: blue;
    height: 50px;
    width: 100vw;
}

.top {
    display: flex;
    align-items: center;

    background-color: aquamarine;
    width: 100%;
    height: calc(200vh/3);
}

.title {
    margin: auto;
    text-align: center;
}

.bottom {
    width: 100%;
    height: 20vh;

    h1 {
        text-align: center;
        padding:  0 0 1rem 0;
    }
}

section {
    padding: 2rem 0 3rem 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    list-style: none;

    margin: 0 auto;
    max-width: 90vw;
}

.card {
    display: block;
    width: 300px;
    padding: 2rem 1rem;

    border-radius: 10px;
    // border: 3px solid #222a33;

    // background-color: $card-background-color;
    
    text-decoration: none;
    // color: $text-primary-color;

    img {
        height: 90%;
        object-fit: contain;
    }

    h3 {
        font-size: x-large;
        margin: 0.5rem 0;
    }
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 1.5rem auto;

    width: 150px;
    height: 150px;
}